html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 130px;
    overflow: auto;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url("../images/cardiologia-c277698f649df7fd5be72e0a9f7897277c271f99737bf90ae1e01f61ce29e632.jpeg") top center no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 82px;
    color: #fff;
}
  
#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
}
  
#hero h2 {
    margin: 10px 0 0 0;
    font-size: 24px; 
}
  
#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #e03a3c;
    border: 2px solid #e03a3c;
}
  
#hero .btn-get-started:hover {
    background: transparent;
    border-color: #fff;
}

#heart {
    background-color:rgba(255, 0, 0, 0.2);
}

/* .panel {
    background-color:rgba(255, 0, 0, 0.5);
} */

.list-group-item {
    background-color:rgba(255, 0, 0, 0.5);
}
